#connector-api {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#connector-api .intro-text {
  clear: both;
}

#connector-api img.logo {
  background: #429745;
  float: left;
  margin-right: 15px;
}

#connector-api .intro-text h3 {
  color: #044060;
  font-size: 2.5em;
  text-transform: uppercase;
}

#connector-api #location-search-btn-wrapper {
  text-align: center;
}