{{#if show }}
  {{#if prev}}
    <button id="locator-prev" class="btn btn-primary" {{action "previousAction"}}>Previous Page</button>
  {{/if}}
  {{#if next}}
    <button id="locator-next" class="btn btn-primary" {{action "nextAction"}}>Next Page</button>
  {{/if}}
{{/if}}