{{#if show }}
  {{#if prev}}
    <button id="locator-prev" class="btn btn-primary" {{action "previousAction"}}>{{t "widgets.prev-next.prev"}}</button>
  {{/if}}
  {{#if next}}
    <button id="locator-next" class="btn btn-primary" {{action "nextAction"}}>{{t "widgets.prev-next.next"}}</button>
  {{/if}}
{{/if}}